doctype html
html(lang="en")
    head
        title #{title}
        link(rel='stylesheet', href='/css/style.css')
    body
        header.container
          div.row
            div.col-md-12
              h1 #{title}
        .container
            .main-content
                block content
        #footer
            block footer
