extends ../layout

block content
  div.row
    div.col-md-12
      a(href="#{create_link}").btn.btn-default Add new
      table.table.table-striped
        caption Users
        thead
          tr
            th Id
            th Username
            th Operations
        tbody
          each user in users
            - console.log(user);
              tr
                  td #{user.uid}
                  td #{user.username}
                  td 
                    if user.links
                      ul
                        for link in user.links
                          li 
                            a(href="#{link.path}") #{link.title}
